main {
	width: 80%;
	max-width: 80%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 150px 50px 50px 50px;
	gap: 50px;
}

.cards {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}
