body {
	min-height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

#root {
	margin: 0;
}

.card {
	width: 18rem;
}

/* .catCard {
    background-color: aquamarine;
	width: 300px;
	min-height: 300px;
	border-radius: 5px;
}

.catCard > .image {
	border-radius: 5px 5px 0 0;
	height: 200px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
} */

/* .modal_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #33151690;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    width: 400px;
    padding: 20px;
	height: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 #fff8, 0 0 15px 0 #fff6;
    position: relative;
    border-radius: 5px;
	display: flex;
}


.modal__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal__content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	height: 100%;
} */

/* form {
    display: flex;
    flex-direction: column;
    gap: 10px;
	width: 100%;
}

form > input[type=text], input[type=number], select {
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

form > button {
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    background-color: rgba(166, 210, 64, 0.67);
} */