body {
	min-height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

#root {
	margin: 0;
}

.catCard {
    background-color: aquamarine;
	width: 300px;
	min-height: 300px;
	border-radius: 5px;
}

.catCard > .image {
	border-radius: 5px 5px 0 0;
	height: 200px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {
	margin: 150px 300px;
	
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}